<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=as" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="rings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rings-link">
                <a href="{% url 'products' %}?category=gold" class="dropdown-item">Gold</a>
                <a href="{% url 'products' %}?category=silver" class="dropdown-item">Silver</a>
                <a href="{% url 'products' %}?category=steel" class="dropdown-item">Steel</a>
                <a href="{% url 'products' %}?category=gold,silver,steel" class="dropdown-item">All Rings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bracelets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bracelets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bracelets-link">
                <a href="{% url 'products' %}?category=metal" class="dropdown-item">Metal</a>
                <a href="{% url 'products' %}?category=leather" class="dropdown-item">Leather</a>
                <a href="{% url 'products' %}?category=metal,leather" class="dropdown-item">All Bracelets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'contact_us' %}"
                id="contact-link">
                Contact us
            </a>
        </li>
    </ul>
</div>