.bag-title {
    margin-top: 5%;
}

.shop-text {
    color: #730C02;
    text-transform: uppercase;
}

.bag-table th {
    font-size: larger;
    font-weight: bolder;
}
.bag-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/* ------------------------------------ Media Queries */
@media screen and (max-width: 768px) {
    .bag-title {
        margin-top: 30px;
    }
}

@media screen and (max-width: 576px) {
    .bag-btn-font {
        font-size: medium;
    }
    
    .bag-btn {
        padding: 5px;
    }
}

@media screen and (max-width: 467px) {
    .grand-total {
        font-size: large;
    }

    .bag-font {
        font-size: small !important;
    }
}