{% extends 'base.html' %}
{% load static %}
{% block extra_title %} | Update Review {%endblock %}

<!-- Additional CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

<!-- I've Kept this page header here as it pushing the Shopping Bag title down
    below the navigation and delivery banner -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid h-100">
    <div class="row offset-1 review-section">
        <div class="col text-center mt-3">
            <!-- Page Title -->
            <h2 class="page-title">
                <strong>Update Review</strong>
            </h2>
        </div>
    </div>
    <hr class="w-50">
    <div class="row edit-review">
        <div class="col-12">
            <form action="{% url 'edit_review' review.id %}" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Update Review" class="btn submit-review">
                <a href="{% url 'product_detail' product.id %}" class="btn rounded-0 btn-lg ">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    Back to Product
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}