{% extends "base.html" %}
{% load static %}

{% block extra_title %}About us {% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay container-fluid">
    <div class="row h-100">
        <div class="col-12 text-center">
            <hr class="w-50 mb-1">
            <h1 class="mb-4">About us</h1>
            <hr class="w-50 mb-1">
            <p class="about justify-content-center">
<br>                
Welcome to Ironclad Jewellery,<br>
where craftsmanship and style converge to create exceptional men's accessories that leave a lasting impression.<br>
As a premier destination for discerning gentlemen, we offer a meticulously curated collection of exquisite jewellery pieces,<br>
designed to elevate your personal style and showcase your individuality.<br>
<br>
At Ironclad Jewellery, <br>
we understand that men's fashion extends beyond clothing and encompasses the finer details that complete a sophisticated look.<br>
Our dedication to providing exceptional quality is evident in every piece we offer.<br>
Each item in our collection is meticulously crafted using premium materials and expert techniques,<br>
resulting in jewellery that exudes timeless elegance and durability.<br>
<br>
We take pride in our commitment to authenticity and originality.<br> 
Our team of skilled artisans combines traditional craftsmanship with contemporary design sensibilities,<br> 
resulting in jewellery that effortlessly blends classic sophistication with modern aesthetics.<br>
Whether you seek a bold statement piece or subtle accents to enhance your ensemble, our diverse range caters to all tastes and preferences.<br>

Thank you for choosing Ironclad Jewellery.<br> 
Discover the perfect piece that captures your unique essence and elevates your style to new heights.<br>

                Sincerely, <br>
                <span>Ironclad jewellery</span>.
            </p>
        </div>
        <div class="col-12 text-center">
            <h2>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase">Shop
                    Now</a>
            </h2>
        </div>
    </div>
</div>
{% endblock %}